html {
    font-size: 0.625rem;
    
}

.layout-cabecalho {
    margin: 0;
    padding: 40px 0;

    text-align: center;
    
    border-bottom: 1px solid black;
    background-color: rgb(150, 0, 0);
    
}


.layout-acao {
    
    text-align: center;
    
    background-color: black;
    color: white;

}


.layout-video { 
    padding-bottom: 95px;
    text-align: center;
    background-color: black;
}


.layout-rodape {
    padding-top: 40px;

    text-align: center;
    font: italic bold  Arial, sans-serif;

    background-color: rgb(128, 127, 127);
    color: white;
}   


   
   

   

   
}














