.botao {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-top: 30px;

    background-color: rgb(60, 245, 229);
    color: black;
    font-family: bold;

    

    

    

    
}



.developed {
    
    font-size: 1.09em;
    font: bold;
}


.plano {
    padding-top: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
   
   

    background-color: black;



    text-align: center;
}



.plano__promocao { 
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
    text-align: center;

    color: white;
}

.plano__cabecalho {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:  2em;
    
    color: rgb(60, 245, 229);

    
}

.plano__preco { 
    position: relative;
    bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px dotted rgb(60, 245, 229);


    font-size: 5em;


    color: white;

}

.plano__caracteristicas {
    list-style: none;
    padding-right: 50px;
   

    color: white;
}

li > samp {
    color: rgb(60, 245, 229);
}


.outro__botao { 
    width: 200px;
height: 50px;
border: none;
border-radius: 20px;

margin: 10px 0px 170px 0px;


background-color: rgb(60, 245, 229);
color: black;
font-family: bold;

}

.container {
    position: relative;
    border-bottom: 1px dotted rgb(60, 245, 229) ;
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.plano__cartao { 
    position: absolute;
    bottom: 6em;
    left: 33.8em;
}

.plano__rodape {
    position: absolute;
    bottom: 4.5em;
    left: 28.5em;
    

    color: white;
}

.resultados {
    background-color: black;
    color: white;
    text-align: center;
    
}

.resultados_alunos { 
    font-size: 2em;
    text-align: center;
    padding-bottom: 30px;
    
}

.resultados_img { 
    padding-bottom: 150px;
    

}

.resultados__diamante { 
padding: 0 40px 40px 0;
}

.garantia {
    background-color: black;
    color: white;
    text-align: center;
    
}

.comofunciona { 
    font-size: 2em;
    padding-bottom: 10px;
}

.garantia__txt {
    padding-bottom: 100px;
}

.garantia__img {
    padding-bottom: 40px;
}